<tr>
  <td scope="row"><%= test_passage.test.title %></td>
  <td scope="row"><%= test_passage.test.level %></td>
  <td scope="row"><%= test_passage.test.author.first_name %></td>
  <td scope="row"><%= test_passage.correct_questions %></td>
</tr>
