<tr>
  <td scope="row"><%= test.title %></td>
  <td scope="row"><%= test.level %></td>
  <td scope="row"><%= test.author.first_name %></td>
  <td scope="row"><%= link_to t('.start'), start_test_path(test), class: 'btn btn-primary' %></td>
</tr>
