<% if user_signed_in? %>
  <div class="row justify-content-center mt-2">
    <%= t('application.welcome') %> TestGuru,&nbsp;<b><%= current_user.first_name %> <%= current_user.last_name %></b>
  </div>
<% end %>