<nav class="navbar navbar-light bg-light">
    <span class="navbar-text">
        TestGuru Project |
        <%= Date.today.year %>

        <%= link_to t('.english'), lang: :en, class: 'btn' %> |
        <%= link_to t('.russian'), lang: :ru, class: 'btn' %>
    </span>
</nav>
