<div class="row justify-content-center">
  <div id="footer">
    __________________________________________<br>
    TestGuru Project<br>
    <%= Date.today.year %><br>

    <%= link_to t('.english'), lang: :en %> |
    <%= link_to t('.russian'), lang: :ru %><br>
  </div>
</div>
